* {
  box-sizing: border-box;
  font-family: "Press Start 2P";
}

html {
  background-color: black;
  color: lightgrey;
  text-shadow: 10px 10px 3px rgb(12, 12, 12);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 5vmin;
}

h2 {
  font-size: 3vmin;
}

#board {
  box-shadow: 15px 15px 5px rgb(12, 12, 12);
}

#buttons {
  display: flex;
  height: 21vmin;
  width: 27vmin;
  flex-flow: row wrap;
  justify-content: center;
  margin: 30px;
  align-content: flex-start;
}

#left-right {
  display: flex;
  width: 27vmin;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  filter: drop-shadow(10px 10px 3px rgb(12, 12, 12));
  
  padding: 5px;
  border-radius: 15%;
  height: 7vmin;
  width: 7vmin;
}

.button:hover {
  filter: none;
  height: 6.5vmin;
  width: 6.5vmin;
  margin: .25vmin;
}

#left {
  border: 3px solid blue;
}

#right {
  border: 3px solid red;
}

#up {
  border: 3px solid yellow;
}

#down {
  border: 3px solid green;
}