
* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}
    
html {
    background-color: #222;
    color: #CCC;
    text-shadow: 10px 10px 3px rgb(12, 12, 12);
    
}
   


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#board {
    background-color: #CCC;
    width: 80vmin;
    height: 80vmin;
    box-shadow: 15px 15px 5px rgb(12, 12, 12);
}

table {
    border-collapse: collapse;
}

td {
    height: 16vmin;
    width: 16vmin;
    background-color: lightgray;
    border: rgb(170, 170, 170) solid .2vmin;
    
}

.apple {
    background-color: red;
    border-radius: 50%;

}